
.containerCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.img {
    width: 10rem;
}

.btnClear{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: #2872b7;
	border: none;
	cursor: pointer;
	padding: 0.1rem 1rem;
	transition: 500ms;
    width: 10rem;
    margin-top: 3rem;
}

.btnClear:hover{
    background-color: #175ea0;
}

.voidCart{
    width: 9rem;
    margin-top: 3rem;
}
.mensaje{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.btnReturn{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: #2872b7;
	border: none;
	cursor: pointer;
	padding: 0.3rem 0.3rem;
	transition: 500ms;
    width: 12rem;
    margin-top: 3rem;
    text-decoration: none;
    text-align: center;
}

.btnReturn:hover{
    background-color: #175ea0;
}

.totalPrice{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

