.cartItemBox{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 2rem;
    margin-top: 5rem;
    margin: 1rem 5rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.itemImg{
    width: 3rem;
    height: 3rem;
}

.itemTitle{
    font-size: 1rem;
    width: 8rem;
}

.itemPrice{
    font-size: 1rem;
    width: 8rem;
}


.counterBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    height: 3rem;
}

.btnSum {
	font-size: 1.2rem;
	color: white;
	background-color: #2872b7;
	border: none;
	cursor: pointer;
	padding: 0.1rem 1rem;
	transition: 500ms;
	margin: 1rem;
}

.btnSum:hover {
	background-color: #175ea0;
}

.countResult {
	font-size: 1.2rem;
	color: #2872b7;
	margin: .1rem;
}

.btnRes {
	font-size: 1.2rem;
	color: white;
	background-color: #2872b7;
	border: none;
	cursor: pointer;
	padding: 0.1rem 1rem;
	transition: 500ms;
	margin: 1rem;
}

.btnRes:hover {
	background-color: #175ea0;
}

.deleteButton{
    font-size: 1.2rem;
	color: white;
	background-color: #2872b7;
	border: none;
	cursor: pointer;
	padding: .3rem;
	transition: 500ms;
	
}

.deleteButton:hover{
    background-color: #175ea0;
}