.nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-color: #2872b7;
	font-family: Helvetica, sans-serif;
	font-weight: 600;
	font-size: 0.9rem;
	margin-top: 2rem;
	justify-content: space-around;
}

.navBar {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 100%;
	align-items: center;
}

.ulList {
	display: flex;
	flex-direction: row;
}

.list {
	display: flex;
	list-style: none;
}

.navLink {
	padding: 0.3rem 1rem;
	text-decoration: none;
	color: white;
}

.acountBox {
	width: 10rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.acountLink {
	text-decoration: none;
	color: white;
	font-size: 0.7rem;
}
