.counterBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.btnSum {
	font-size: 1.2rem;
	color: white;
	background-color: #2872b7;
	border: none;
	cursor: pointer;
	padding: 0.1rem 1rem;
	transition: 500ms;
}

.btnSum:hover {
	background-color: #175ea0;
}

.countResult {
	font-size: 1.2rem;
	color: #2872b7;
}

.btnRes {
	font-size: 1.2rem;
	color: white;
	background-color: #2872b7;
	border: none;
	cursor: pointer;
	padding: 0.1rem 1rem;
	transition: 500ms;
}

.btnRes:hover {
	background-color: #175ea0;
}

.btnAddCart {
	background-color: #2872b7;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 500ms;
}

.btnAddCart:hover {
	background-color: #175ea0;
}

.buysButton {
	background-color: #2872b7;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 500ms;
	text-decoration: none;
	text-align: center;
}

.buysButton:hover {
	background-color: #175ea0;
	
}
