@import "./components/header";
@import "./components/navBar";
@import "./components/ilc";
@import './components/items';
@import './components/itemsList';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}
